*{
    margin: 0px;
    padding: 0px;
}
body{
 background-image: url(bg1.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;

}
#n1{
    color: white;
    background-color: black;
    text-align: center;
    border: 2px solid white;
}
button{
border-radius: 2px ;
width: 250px;
height: 50px;
font-weight: bolder;
font-size: 24px;
font-family: "Times New Roman", Times, serif;
background-image: url(https://static.vecteezy.com/system/resources/previews/001/849/553/original/modern-gold-background-free-vector.jpg);
color: white;
border: 2px solid black;
margin: 0px 5px 0px 15px;
}
.container{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKIfhHf2GRTFKVMrBkDA0-Y47g2hmnSDyKvg&usqp=CAU);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
       width: 600px;
    height: 500px;
    border: 2px solid black;
 
border-radius: 9px;
margin: auto;
margin-top: 93px;
}
#n2{
    font-size:26px;
    width: 338px;
}
#n1{
    font-size: 25px;
    width:269px;

}

h1{
    text-align: center;
    color: white;
}
